{% extends"en/base.html" %}

{% block title %}Art Replica and Trompe l'Oeil - Portfolio of Patrizio Buonaiuto | Figurative Artist{% endblock %}

{% block content %}

    <!-- Project Area Start -->
    <div class="gallery_area clearfix">
        <div class="container-fluid clearfix">
            <div class="gallery_menu">
                <div class="portfolio-menu">
                    <button class="active btn" type="button" data-filter="*">All</button>
                    <button class="btn" type="button" data-filter=".art-replicas">Art Replicas</button>
                    <button class="btn" type="button" data-filter=".portraits">Portraits</button>
                    <button class="btn" type="button" data-filter=".trompe-l-oeil">Trompe-l-oeil</button>
                    <button class="btn" type="button" data-filter=".originals">Originals</button>
                    <button class="btn" type="button" data-filter=".process">Panting process</button>
                </div>
            </div>

            <div class="row portfolio-column">

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item portraits">
                    <img src="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-affresco.jpeg') }}" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-affresco.jpeg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item art-replicas">
                    <img src="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-caravaggio-bacco.png') }}" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-caravaggio-bacco.png') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item art-replicas">
                    <img src="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-salvator-mundi-leonardo-da-vinci.jpeg') }}" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-salvator-mundi-leonardo-da-vinci.jpeg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->

                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item art-replicas">
                    <img src="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-angelo-musicante-rosso-fiorentino.jpg') }}" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-angelo-musicante-rosso-fiorentino.jpg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item art-replicas">
                    <img src="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-campo-di-papaveri-c-monet.jpeg') }}" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-campo-di-papaveri-c-monet.jpeg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item art-replicas">
                    <img src="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-denittis.png') }}" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-denittis.png') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item art-replicas portraits">
                    <img src="{{ url_for('static', filename='img/bg-img/portfolio-patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-gustav-klimt-personal-portrait.png') }}" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/portfolio-patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-gustav-klimt-personal-portrait.png') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item art-replicas">
                    <img src="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-klimt-bacio.jpeg') }}" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-klimt-bacio.jpeg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item art-replicas">
                    <img src="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-iris-van-gogh.png') }}" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-iris-van-gogh.png') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item art-replicas">
                    <img src="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-leonardo-da-vinci-monnalisa.jpg') }}" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-leonardo-da-vinci-monnalisa.jpg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item art-replicas">
                    <img src="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-munch-urlo.jpg') }}" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-munch-urlo.jpg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Originals 1 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item originals">
                    <img src="{{ url_for('static', filename='img/bg-img/originals/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-originals-1.jpeg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | Artista Figurativo">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/originals/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-originals-1.jpeg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Originals 2 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item originals">
                    <img src="{{ url_for('static', filename='img/bg-img/originals/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-originals-2.jpg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | Artista Figurativo">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/originals/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-originals-2.jpg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Originals 3 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item originals">
                    <img src="{{ url_for('static', filename='img/bg-img/originals/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-originals-3.jpg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | Artista Figurativo">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/originals/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-originals-3.jpg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Originals 4 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item originals">
                    <img src="{{ url_for('static', filename='img/bg-img/originals/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-originals-4.jpg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | Artista Figurativo">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/originals/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-originals-4.jpg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Originals 5 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item originals">
                    <img src="{{ url_for('static', filename='img/bg-img/originals/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-originals-5.jpg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | Artista Figurativo">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/originals/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-originals-5.jpg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Originals 6 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item originals">
                    <img src="{{ url_for('static', filename='img/bg-img/originals/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-originals-6.jpg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | Artista Figurativo">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/originals/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-originals-6.jpg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Originals 7 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item originals">
                    <img src="{{ url_for('static', filename='img/bg-img/originals/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-originals-7.jpg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | Artista Figurativo">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/originals/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-originals-7.jpg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item art-replicas">
                    <img src="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-woman-at-her-toilet-henri-de-toulouse-lautrec.jpeg') }}" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-woman-at-her-toilet-henri-de-toulouse-lautrec.jpeg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item trompe-l-oeil">
                    <img src="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil.jpg') }}" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil.jpg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item process">
                    <img src="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-inv-tela.png') }}" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-inv-tela.png') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item process">
                    <img src="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-inv-telaio.png') }}" alt="">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-inv-telaio.png') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Donn'Anna 1 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item process">
                    <img src="{{ url_for('static', filename='img/bg-img/process/palazzo-donn-anna/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-palazzo-donn-anna-1.jpeg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | fasi-palazzo-donn-anna">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/process/palazzo-donn-anna/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-palazzo-donn-anna-1.jpeg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Donn'Anna 2 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item process">
                    <img src="{{ url_for('static', filename='img/bg-img/process/palazzo-donn-anna/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-palazzo-donn-anna-2.jpeg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | fasi-palazzo-donn-anna">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/process/palazzo-donn-anna/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-palazzo-donn-anna-2.jpeg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Donn'Anna 3 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item process">
                    <img src="{{ url_for('static', filename='img/bg-img/process/palazzo-donn-anna/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-palazzo-donn-anna-3.jpeg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | fasi-palazzo-donn-anna">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/process/palazzo-donn-anna/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-palazzo-donn-anna-3.jpeg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Donn'Anna 4 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item process">
                    <img src="{{ url_for('static', filename='img/bg-img/process/palazzo-donn-anna/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-palazzo-donn-anna-4.jpeg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | fasi-palazzo-donn-anna">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/process/palazzo-donn-anna/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-palazzo-donn-anna-4.jpeg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Donn'Anna 5 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item process">
                    <img src="{{ url_for('static', filename='img/bg-img/process/palazzo-donn-anna/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-palazzo-donn-anna-5.jpeg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | fasi-palazzo-donn-anna">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/process/palazzo-donn-anna/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-palazzo-donn-anna-5.jpeg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Donn'Anna 6 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item process">
                    <img src="{{ url_for('static', filename='img/bg-img/process/palazzo-donn-anna/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-palazzo-donn-anna-6.jpeg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | fasi-palazzo-donn-anna">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/process/palazzo-donn-anna/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-palazzo-donn-anna-6.jpeg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Vermeer 1 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item process">
                    <img src="{{ url_for('static', filename='img/bg-img/process/vermeer/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-lattaia-di-vermeer-1.jpeg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | fasi-vermeer">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/process/vermeer/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-lattaia-di-vermeer-1.jpeg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Vermeer 2 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item process">
                    <img src="{{ url_for('static', filename='img/bg-img/process/vermeer/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-lattaia-di-vermeer-2.jpeg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | fasi-vermeer">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/process/vermeer/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-lattaia-di-vermeer-2.jpeg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Vermeer 3 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item process">
                    <img src="{{ url_for('static', filename='img/bg-img/process/vermeer/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-lattaia-di-vermeer-3.jpeg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | fasi-vermeer">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/process/vermeer/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-lattaia-di-vermeer-3.jpeg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Vermeer 4 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item process">
                    <img src="{{ url_for('static', filename='img/bg-img/process/vermeer/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-lattaia-di-vermeer-4.jpeg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | fasi-vermeer">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/process/vermeer/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-lattaia-di-vermeer-4.jpeg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>

                <!-- Single Item Vermeer 5 -->
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 column_single_gallery_item process">
                    <img src="{{ url_for('static', filename='img/bg-img/process/vermeer/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-lattaia-di-vermeer-5.jpeg') }}" alt="Copie d'Autore e Trompe l'Oeil - Portfolio di Patrizio Buonaiuto | fasi-vermeer">
                    <div class="hover_overlay">
                        <a class="gallery_img" href="{{ url_for('static', filename='img/bg-img/process/vermeer/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-fasi-lattaia-di-vermeer-5.jpeg') }}"><i class="fa fa-eye"></i></a>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center mt-70">
                    <a href="#" class="btn -btn"><img src="{{ url_for('static', filename='img/core-img/logo-icon.png') }}" alt=""> Load More</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Project Area End -->

    {% endblock %}