.copyLeft {
    font-size: 8px;
    color: #1d1d1d;
}
.footer-contacts {
    display: flex;
    justify-content: flex-start;
    gap: 16px;
}

.fb-logo-header {
    width: 24px;
    margin-left: 12px;
}

.fb-logo {
    width: 32px !important;
}