<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>{% block title %}My Website{% endblock %}</title>

    <!-- Favicon  -->
    <link rel="icon" href="{{ url_for('static', filename='img/core-im') }}g/favicon.ico">

    <!-- Core Style CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/core-style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <!-- Responsive CSS -->
    <link href="{{ url_for('static', filename='css/responsive.css') }}" rel="stylesheet">

</head>

<body>
<!-- Preloader -->
<div id="preloader">
    <div class="showbox">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10"/>
            </svg>
        </div>
    </div>
    <div class="questions-area text-center">
        <p>Lo sapevi?</p>
        <ul>
            <li>La Gioconda non ha le sopracciglia: raderle era la moda a Firenze durante il Rinascimento!</li>
            <li>Van Gogh ha venduto solo un dipinto durante la sua vita eppure ha realizzato oltre 900 opere.</li>
            <li>Il tempo più lungo impiegato per completare un dipinto è stato di 18 anni per il Polittico di Gand di Jan van Eyck.</li>
            <li>Lo sapevi? Picasso sapeva disegnare prima ancora di saper camminare e ha fatto la sua prima mostra all'età di 13 anni.</li>
            <li>Salvador Dalí spesso evitava di pagare per bevande e pasti disegnando sui conti, rendendoli inestimabili.</li>
        </ul>
    </div>
</div>

<!-- Gradient Background Overlay -->
<div class="gradient-background-overlay"></div>

<!-- Header Area Start -->
<header class="header-area bg-img" style="background-image: url('/static/img/bg-img/patrizio-buonaiuto-art-replica-copie-di-autore-trompe-l-oeil-gustav-klimt-personal-portrait.jpeg');">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12 h-100">
                <div class="main-menu h-100">
                    <nav class="navbar h-100 navbar-expand-lg content-header">
                        <!-- Logo Area  -->
                        <a class="navbar-brand" href="{{ url_for('it_page', page='index') }}">
                            <h3 class="site-title">Patrizio Buonaiuto</h3>
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#studioMenu" aria-controls="studioMenu" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i> Menu</button>

                        <div class="collapse navbar-collapse" id="studioMenu">
                            <!-- Menu Area Start  -->
                            <ul class="navbar-nav ml-auto">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img class="lang-icon" src="/static/img/core-img/lang-icon.png" alt="">
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ url_for('it_page', page='index') }}">
                                            <img class="lang-icon" src="/static/img/core-img/flag-italy.png" alt="Vai al sito in Italiano">
                                        </a>
                                        <a class="dropdown-item" href="{{ url_for('it_page', page='index') }}">
                                            <img class="lang-icon" src="/static/img/core-img/flag-uk.png" alt="Go to the English site">
                                        </a>
                                    </div>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{{ url_for('it_page', page='index') }}">Home <span class="sr-only">(current)</span></a>
                                </li>

                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('it_page', page='su-di-me') }}">Su di me</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('it_page', page='portfolio') }}">Opere</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('it_page', page='contact') }}">Contatti</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Header Area End -->

{% block content %}
<!-- MAGIC HAPPENS JUST HERE... -->
{% endblock %}

<!-- Footer Area Start -->
<footer class="footer-area">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 h-100">
                <div class="footer-content h-100 d-md-flex align-items-center justify-content-between">
                    <!-- Single Footer Content -->
                    <div class="single-footer-content">
                        <img src="{{ url_for('static', filename='img/core-img/pat-footer.png') }}" style="width: 120px;" alt="Patrizio Buonaiuto Logo">
                    </div>
                    <!-- Single Footer Content -->
                    <div class="footer-contacts">
                        <div class="single-footer-content">
                            <img src="{{ url_for('static', filename='img/core-img/smartphone.png') }}" alt="">
                            <a href="tel:00393389333810">+39 338 9333 810</a>
                        </div>
                        <!-- Single Footer Content -->
                        <div class="single-footer-content">
                            <img src="{{ url_for('static', filename='img/core-img/envelope-2.png') }}" alt="">
                            <a href="mailto:patriziobuonaiuto@gmail.com">patriziobuonaiuto@gmail.com</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Area End -->

<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<p class="copyLeft">Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a></p>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

<!-- jQuery (Necessary for All JavaScript Plugins) -->
<script src="{{ url_for('static', filename='js/jquery/jquery-2.2.4.min.js') }}"></script>
<!-- Popper js -->
<script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
<!-- Bootstrap js -->
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!-- Plugins js -->
<script src="{{ url_for('static', filename='js/plugins.js') }}"></script>
<!-- Active js -->
<script src="{{ url_for('static', filename='js/active.js') }}"></script>

</body>

</html>