{% extends "en/base.html" %}

{% block title %}Contact me{% endblock %}

{% block content %}

<section class="contact-area section_padding_30 mt-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="contact-content">
                    <h2 class="text-center mb-4">Mettiti in Contatto con Patrizio Buonaiuto</h2>
                    <p>Sei affascinato dall'arte di Patrizio Buonaiuto? Hai domande, commenti o un progetto speciale in mente? Ci piacerebbe sentirti!</p>
                    <p>Che tu sia un appassionato d'arte, un proprietario di galleria o semplicemente curioso, il tuo contatto è importante per noi.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-10">
                <div class="contact-info">
                    <p>Mobile: <a class="clickable-link" href="tel:00393389333810">+39 338 9333 810</a></p>
                    <p>Fisso: <a class="clickable-link" href="tel:00390815874171">+39 081 587 4171</a></p>
                    <p>Email: <a class="clickable-link" href="mailto:patriziobuonaiuto@gmail.com">patriziobuonaiuto@gmail.com</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

<!--    <div class="contact-container">-->
<!--        &lt;!&ndash; Google Maps &ndash;&gt;-->
<!--        <div class="map-area">-->
<!--            &lt;!&ndash; Contact Info &ndash;&gt;-->
<!--            <div id="googleMap margin-auto">-->
<!--                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3017.222149482995!2d14.193115712992789!3d40.86699877125157!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x133b08b3017bc42d%3A0xdf3596acf1484dbd!2sStr.%20Vicinale%20Reggente%2C%2047%2C%2080131%20Napoli%20NA!5e0!3m2!1sit!2sit!4v1717332376250!5m2!1sit!2sit"-->
<!--                        class="i-frame" height="450" style="border:0;" allowfullscreen="" loading="lazy"-->
<!--                        referrerpolicy="no-referrer-when-downgrade"></iframe>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</section>

{% endblock %}